<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
<hr>

<div class='well'>
  <dl class='dl-horizontal'>
      <dt>User Name:</dt>
      <dd><%= current_user.username %></dd>
  </dl>
</div>

<h4><%= current_user.username %>'s activities:</h4>

<ul class="nav nav-tabs">
  <li class='<%= 'active' if params[:tab].nil? %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>

  <% current_user.posts.each do |post|%>
    <%= render 'posts/post', post: post %>
  <% end %>

<% else %>

  <% current_user.comments.each do |comment| %>
    <%= render 'posts/comments', comment: comment, show_post: true %>
  <% end %>

<% end %>
