<div class='row'>
  <div class='span8 well'>

    <%= render post.categories %>

    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>post by</span> <%= post.creator.username %>
      <small>at <%= fix_time_format(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post))%>
      </span>
    </small>
  </div>
</div>
